base58==2.1.0
beautifulsoup4==4.9.3
bs4==0.0.1
cachetools==4.2.1
configparser==5.0.2
defusedxml==0.7.1
docopt==0.6.2
docx2txt==0.8
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
fitz==0.0.1.dev2
gensim==3.8.1
gitdb==4.0.7
GitPython==3.1.14
MarkupSafe==1.1.1
matplotlib==3.4.1
nltk==3.5
numpy==1.20.1
packaging==20.9
pandas==1.0.5
pdf2docx==0.5.1
pdfminer==20191125
pdfminer.six==20200517
pdfminer3k==1.3.4
pdfplumber==0.5.27
PyMuPDF==1.18.10
pyparsing==2.4.7
PyPDF2==1.26.0
regex==2021.3.17
requests==2.25.1
scipy==1.6.2
seaborn==0.11.1
six==1.15.0
slate3k==0.5.3
spacy==3.0.5
spacy-legacy==3.0.1
streamlit==0.79.0
sumy==0.8.1
textblob==0.15.3
urllib3==1.26.4